<phpunit colors="true" bootstrap="tests/autoload.php">
    <testsuites>
        <testsuite name="Unit_Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./classes</directory>
            <exclude>
                <file>./classes/UhDesign/View/Option.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
    </logging>
</phpunit>